.footer {
  background: $primary-dark; /* Old browsers */
  background: -moz-linear-gradient(left,  #36404e 0%, #36404e 50%, #2f3b48 51%, #2f3b48 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left,  #36404e 0%,#36404e 50%,#2f3b48 51%,#2f3b48 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right,  #36404e 0%,#36404e 50%,#2f3b48 51%,#2f3b48 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#36404e', endColorstr='#2f3b48',GradientType=1 ); /* IE6-9 */
}

.footer--wrapper {

}

.footer--section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 60px 5.5%;
}

.footer--section__left {
  background: #36404E;
  color: $white;

  h3 {
    color: $primary-accent;
  }
  p {
    margin: 0;
  }
}

.footer--section__right {
  background: $primary-dark;

  color: $primary-accent;
  @include media($medium) {
    padding-left: 9%;
  }
}

.footer--section-title-wrapper {
  .footer--section-title {
    display: inline;
  }
  .footer--ornament {
    height: 31px;
    width: 29px;
    @include sprite($x: -2, $y: -375);
    display: inline-block;
    margin-left: 10px;
  }
}

.footer--section-title {
  color: $primary-accent;
  @include font-size(2.2);
}
