.header-punchline {
  max-width: 80%;
  margin: 0 auto;
  margin-top: 8rem;

  @include media($medium) {
    max-width: 50%;
    text-align: center;
  }
}

.header-punchline--text {
  display: inline;
  border-radius: 3px;
  background: #F59721;
  font-size: 3rem;
  color: $secondary-dark;
  font-family: $bariol;
  font-weight: bold;
  padding: 10px;
  @include media($medium) {
    box-shadow: 10px 0 0 $secondary-accent, -10px 0 0 $secondary-accent;
  }
}
