<header class="nav">
  <div class="nav--wrapper limiter">
    <div class="logo logo--wrapper">
      <a href="/">
        <img src="/assets/images/manati-logo.png" alt="" class="logo--image">
      </a>
    </div>
    <nav class="nav--menu-list">
      <a href="/our-work.html" class="nav--menu-link nav--menu-list-item">Our work</a>
      <a href="/what-we-do.html" class="nav--menu-link nav--menu-list-item">What we do</a>
      <a href="/about-us.html" class="nav--menu-link nav--menu-list-item">About Us</a>
      <a href="https://medium.com/manati-web-agency" target="_blank" class="nav--menu-link nav--menu-list-item">Medium</a>
    </nav>
    <a class="nav--menu-link nav--menu-list-item lang-switcher" ng-click="switchLanguage()" ui-sref=".({lang: destLang})"> {{'LANGUAGE' | translate}} </a>
    <a href="/contact-us.html" class="cta cta__header">Contact Us</a>
    <ul class="social-network--list social-network--list__header">
      <li class="social-network--list-item social-network--list-item__twitter">
        <a href="https://twitter.com/estudiomanati" target="_blank" class="social-network--link">Twiter</a>
      </li>
      <li class="social-network--list-item social-network--list-item__github">
        <a href="https://github.com/ManatiCR" target="_blank" class="social-network--link">Github</a>
      </li>
      <li class="social-network--list-item social-network--list-item__drupal">
        <a href="https://www.drupal.org/manat%C3%AD" target="_blank" class="social-network--link">Drupal</a>
      </li>
      <li class="social-network--list-item social-network--list-item__facebook">
        <a href="https://www.facebook.com/estudiomanati/" target="_blank" class="social-network--link">Facebook</a>
      </li>
      <li class="social-network--list-item social-network--list-item__linkedin">
        <a href="https://www.linkedin.com/company/manat%C3%AD" target="_blank" class="social-network--link">LinkedIn</a>
      </li>
    </ul>
  </div>
</header>
<aside class="header-punchline">
  <p class="header-punchline--text">Get inside our heads and learn all about Drupal, Frontend, Backend, Design, UX, Strategy.</p>
</aside>
