<div ng-include="'components/navbar/navbar.html'"></div>

<div class="page-main">

  <main class="l-content-limiter" role="main">
    <header class="content-section-header">
        <h1 class="title section-title">{{ 'BLOG' | translate }}</h1>
      <!-- insert categories in the future -->
      <!-- insert search in the future
        <div class="js-search-toggle">
          Search
          <form action="" role="search"></form>
        </div>
      -->
    </header>

    <!-- @TODO: LOADING text should be changed -->
    <div class="spinner animate-hide" ng-hide="loadingFinished">LOADING</div>
    <div class="entry-list animate-show" ng-cloak ng-show="posts.length && loadingFinished">

      <!-- blog item -->
      <article class="entry entry-teaser" ng-repeat="post in posts" >
        <div class="entry-container  entry-teaser-container">
          <h2 class="title entry-title-teaser">
            <a ui-sref="blogPost({id: post.nid, lang: language})">{{post.title}}</a>
          </h2>
          <p class="entry-content entry-teaser-content" ng-bind-html="post.body"></p>
          <a ui-sref="blogPost({id: post.nid, lang: language})" class="button button-with-arrow read-more">{{'READ-MORE-LINK' | translate }}</a>
        </div>
        <aside class="entry-details">
          <img class="entry-details-profile-image" ng-src="{{post.authorPicture}}">
          <h3 class="entry-details-author-name">
            {{post.authorName}}
          </h3>
          <time class="entry-details-date" datetime="2014-12-16">{{post.created}}</time>
          <div class="categories-list">{{post.tags}}</div>
        <!--  <ul class="categories-list">
            <li class="categories-item"><a href="#" class="categories-item-link">Drupal</a></li>
            <li class="categories-item"><a href="#" class="categories-item-link">Views</a></li>
            <li class="categories-item"><a href="#" class="categories-item-link">Databases</a></li>
            <li class="categories-item"><a href="#" class="categories-item-link">RESTful Services</a></li>
          </ul> -->
        </aside>
      </article> <!-- end blog item -->
    </div> <!-- entry-list -->
    <ul class="pager" ng-cloak ng-if="pageCount > 1" ng-show="loadingFinished">
        <li class="pager-item" ng-if="page > 1"><a ui-sref=".({page: page - 1})" class="pager-link pager-previous">Previous</a></li>
        <li class="pager-item" ng-repeat="actual in pages">
          <a ng-if="actual != page" ui-sref=".({page: {{ actual }}})" class="pager-link">{{ actual }}</a>
          <span ng-if="actual == page" class="pager-link actual">{{ actual }}</span>
        </li>
        <li class="pager-item" ng-if="page + 1 <= pageCount"><a ui-sref=".({page: page + 1})" class="pager-link pager-next">Next</a></li>
    </ul>
  </main> <!-- main -->

</div>
