//
// Base Styles
//

// Extensions
@import 'bourbon';
@import 'neat';


// Google Fonts
@import url(https://fonts.googleapis.com/css?family=Fira+Sans:400,400italic,700);

// Private fonts
@import 'bariol';


// Private Imports
@import 'variables';
@import 'mixins';


// General styles
body {
  color: $secondary-light;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

ul {
  padding: 0;
}

a {
  color: $secondary-light;
}

a, a:active, a:visited {
  text-decoration: none;
}

img {
  display: inline-block;
  max-width: 100%;
  height: auto;
  width: auto;
}

h1,h2,h3,h4,h5,h6 {
  font-family: $bariol;
}

.italic {
  font-style: italic;
}
