//
// System variables
//

// Breakpoints
$small: 520px;
$medium: 800px;
$large: 1024px;
$full-width: 1200px;

// Colors
$primary-light: #EAF4F9;
$primary-dark: #2F3B48;
$primary-accent: #68EECC;

$secondary-light: #7B7F84;
$secondary-dark: #393A3A;
$secondary-accent: #F59721;

$manati-color: #E7FFF7;
$white: #FFFFFF;

$image-placeholder: #E52892;

// Fonts Families
$bariol: 'Bariol', sans-serif;
$fira-sans: 'Fira Sans', sans-serif;
